body {
      font-family: Garamond;
      line-height: 2.5;
      font-size: 100%;
      background-color: white;
      color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.change-font {font-family: 'Courier New', Courier, monospace;}

hr {
    height : 200%;
    clear: both;
    visibility: hidden;
}

qed {float: right;}

blue{color: #49BED9;}
red{color: #FF0000;}
green{color: #80BB80;}

