body {
      font-family: Georgia;
      line-height: 2.5;
      font-size: 120%;
      background-color: white;
      color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

hr {
    height : 200%;
    clear: both;
    visibility: hidden;
}

qed {
    float: right;
}
